

.left, .right{
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: black;
}

.right {  
  right: 0; 
  margin-right: 600px; 
}  

.left {  
  margin-left: 400px; 
} 

.showSlide{
  margin-left: 550px;
  margin-top: 345px;
  width: 50%;
  height: 50%;
}

