body {
  margin: 0;
  box-sizing: border-box;
  background: #222;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.slides-container {
  height: 500px;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  position: relative;
}

.slide-button {
  height: 100%;
  width: 100%;
  position: absolute;
}
.slide-button > button {
  width: 45%;
  background-color: aqua;
  padding: 10px;
  align-items: center;
  margin-left: 400px;
  margin-top: 330px;
}

.next-btn,
.prev-btn {
  background: #eee;
  padding: 16px;
  position: absolute;
  top: 50%;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}



.navigation-bar {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.single-bar {
  background: white;
  height: 5px;
  width: 50px;
  margin: 0 8px;
  cursor: pointer;
}
